body {
    background-color: white;
    font-family: "Roboto";
    
    
}


.header-logo {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.17em;
    letter-spacing: 3%;
}
.header-logo-studio {
    color: #2E2F42;
}
.navigation a {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    width: 48px;
    font-weight: 500px;
    line-height: 1.5em;
    letter-spacing: 2%;
    font-weight: bold;
    
}
.navigation :hover {

    color: #404BBF;
}
.web-studio-1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.iletisim a {
    text-decoration: none;
    color: #434455;
    font-weight: 400px;
    width: 153px;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 2%;
   
    
}
.iletisim :hover {
    color: #404BBF;
}
address ul {
list-style-type: none;
padding: 0;
margin: 0;
}
.main-navbar1 {
    background-color: #2E2F42;

}
.main-navbar1 h1 {
 text-align: center;
 color: white;
 font-size: 56px;
 line-height: 1.071em;
 letter-spacing: 2%;
}

.button {
    color: white;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 4%;
    cursor: pointer;
}

.button :hover {
    background-color: #404BBF;
}

.main-navbar2 ul{
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.2em;
    letter-spacing: 2%;
    color: #2E2F42;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-navbar2 ul p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 1.5em;
    letter-spacing: 2%;
    color: #434455;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-navbar3 {
    background-color: #F4F4FD;
}
.main-navbar3 h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 2%;
    font-weight: 700;
    color: #2E2F42;
}
.main-navbar3 ul  {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

.main-navbar-4 h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.2em;
    letter-spacing: 2%;
    font-weight: 700;
    color: #2E2F42;
}

.main-navbar-4 ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

.contacts {
    background-color: #2E2F42;

}
.contacts a {
    color: #F4F4FD;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 3%;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    
}
.footer-logo-web{
    color: #4D5AE5;
}

.contacts p {
    font-size: 16px;    
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: 2%;
    text-align: left;
    color: #F4F4FD;
}