body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
    
}


.header-logo {
    font-size: 18px;
    font-family: "Raleway", serif;
    color: #4D5AE5;
    font-weight: 700;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.header-logo-studio {
    color: #2E2F42;
}
.navigation a {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    width: 48px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: bold;
    
}
.navigation-1 :hover {

    color: #404BBF;
}
.web-studio-1 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.iletisim a {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    width: 153px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    
   
    
}
.iletisim :hover {
    color: #404BBF;
}
address ul {
list-style-type: none;
padding: 0;
margin: 0;
}
.main-navbar1 {
    background-color: #2E2F42;

}
.main-navbar1-title {
 text-align: center;
 color: #ffffff;
 font-size: 56px;
 line-height: 1.07;
 letter-spacing: 0.02em;
}

.button-1 {
    color: white;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.button-1 :hover {
    background-color: #404BBF;
}
.button-1 :focus {
    background-color: #404BBF;
}

.main-navbar2-ul{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-navbar2 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-navbar3 {
    background-color: #F4F4FD;
}
.main-navbar3-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #2E2F42;
    text-transform: capitalize;
}
.main-navbar3-ul  {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

}

.main-navbar-4-title {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #2E2F42;
}

.main-navbar-4-ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;

}
.navbar4-görev-alanı{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.main-navbar3-ul p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
footer {
    background-color: #2e2f42;

}
.contacts-a {
    color:#4D5AE5 ;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    
}
.footer-logo-studio{
    color: #F4F4FD;
}

.contacts-p {
    font-size: 16px;    
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}